.nav-link{
    margin-left: 3px;
    margin-right: 3px;
}
button:hover{
    background-color: rgb(231, 213, 213);
    color: white;
}
/* button{
    margin: 0 auto;
} */
#navbar{
    margin: 0 auto;
}
body{
    background-color: whitesmoke;
}